@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* darkmode change */
body {
    background-color: #ffffff;
    color: #000;
    transition: .5s;
}

.changeMode{
    background-color: #262526;
    color: #fff; 
}

.hide {
    display: block;
}

/* style */
main {
    max-width: 1100px;
    margin: 30px auto;
}

header {
    position: relative;
    transition: .5s;
}

#btnMenu {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 30px;
    margin: 20px;
}

.linkNavBar {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.navbar li {
    list-style-type: none;
    display: inline-table;
    margin-left: 0px;
    padding: 15px;
    font-weight: bold;
}

.list-navbar li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.icons_left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.icons_left div {
    margin: 10px 40px;
    font-size: 20px;
}

h6 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 20px;
}

h6:hover {
    font-style: italic;
    color: red;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

span {
    text-align: center;
    margin: auto;
}

img {
    margin: 20px auto;
    display: block;
    border-radius: 4px;
    width: 100%;
}

.paragraph {
    text-align: justify;
    font-size: 20px;
}

.container_text {
    max-width: 800px;
    margin: 40px auto;
}

.reference_link {
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #fffafa;
    font-size: 20px;
    background-color: #0b3966;
    border-radius: 4px;
    padding: 10px;
    transition: .3s;
}

.reference_link:hover {
    transform: translateY(-0.5em);
}

/* grid images */


.grid_images {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    align-items: center;
}

.grid_images img:hover {
    width: 100%;
}

/* list cars */

.list_cars {
    display: block;
    width: 200px;
    padding: 10px;
    transition: .5s;
}


.list_cars a {
    color: black;
    background: none;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding: 5px;
    display: block;
    margin: 10px 0;
}

.list_cars a:hover {
    width: 300px;   
}

#btnMenu {
    margin: 8px;
    font-size: 27px;
    padding: 3px;
    border: none;
    background: none;
    cursor: pointer;
}

#change_theme {
    border: none;
    padding: 5px 10px;
    font-size: 25px;
    margin: 0 15px;
    box-shadow: 0 0 5px #0000006e;
    border-radius: 2%;
    cursor: pointer;
    transition: 0.3s;
}

#change_theme:hover {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    main {
        margin: auto 20px;
    }
}

@media screen and (max-width: 570px) {
    .grid_images {
        display: block;
    }
}


@media screen and (max-width: 600px) {

    #btnMenu {
        display: block;
        transition: .3s;
    }

    .navbar {
        display: block;
        background-color: #252323;
        padding: 20px;
        position: absolute;
        width: 100%;
        top: 60px;
        right: 0;
        z-index: 10;
        transform: translateX(-200%);
        transition: .5s;
    }


    .changeColorsHeader {
        background-color: #252323;
        color: #fffafa;
    }

    .colorLinkMenu  {
        color: #fffafa;
    }

    .changeColorButton {
        color: #fffafa;
    }

    .active {
        transform: translateX(0);
    }

    .list-navbar li a {
        color: #fffefe;
        display: block;
        text-align: center;
    }

    .navbar li {
        display: block;
    }

}